@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body{
    font-family: Roboto, sans-serif;
    color: white;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header li{
    text-decoration: none;
    list-style: none;
}


.content{
    display: flex;
}
.content img{
    width: 400px;
}

.align{
    display: flex;
    justify-content: center;
    background-color:  #1F2937;
    padding: 40px;
    gap: 30px;
}

.right-links{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 2px;
  padding: 0px;
  gap: 5px;
}

.paragraph{
    max-width: 500px;
}

.paragraph button{
    background-color: darkblue;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    font-family: inherit;
}

.section-title{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #1F2937
}

.card-row{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.card-box{
    width: 180px;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.card{
    text-align: center;
}

.card-text {
  max-width: 180px;
  color: #555;
  font-size: 14px;
  margin: 8px auto 0;
}

.gray-box{
    background-color: gray;
    padding: 70px 0;
    margin: 5px;
    margin-bottom: 50px;
}

.quote-container{
    text-align: center;
}

.quote{
    font-size: 36px;
    font-family: italic;
    font-weight: 300;
}

.author{
    font-family: italic;
    font-size: 24px;
}

.blue-box{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 50px;
    border-radius: 8px;
    margin-bottom: 50px;
}



.action{
    font-size: 36px;
}

.click{
    font-size: 24px;
}

.blue-box .cta-button{
    flex-shrink: 0;
    font-family: inherit;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 2px solid white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
}


.footer-text{

}