@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body{
    font-family: Roboto, sans-serif;
    color: white;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header li{
    text-decoration: none;
    list-style: none;
}


.content{
    display: flex;
}
.content img{
    width: 400px;
}

.align{
    display: flex;
    justify-content: center;
    background-color:  #1F2937;
    padding: 40px;
    gap: 30px;
}

.right-links{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 2px;
  padding: 0px;
  gap: 5px;
}

.paragraph{
    max-width: 500px;
}

.paragraph button{
    background-color: darkblue;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    font-family: inherit;
}